<div class="<%= 'collapsible-header collapsible-header--' + header_type %>">
  <i class="material-icons material-icons--arrow_drop_down">arrow_drop_down</i>
  <% if header_type == 'with-icon' %>
    <i class="material-icons"><%= icon_name %></i>
  <% end %>
  <span class="collapsible-header__title"><%= title %></span>
</div>
