<div class="card">
  <div class="card-content black-text">
    <a href=<%= employee_path(employee.id) %> class="card-title black-text"><%= employee.name %><i class="material-icons right">keyboard_arrow_right</i></a>
  </div>
</div>
