<% if @employees %>
  <div class="search-results">
    <div class="row">
      <div class="col s12">
        <h4>Resultado da busca:</h4>
      </div>
    </div>
    <div class="container">
        <% if @employees.each do |employee| %>
          <%= render '/components/employee_card', employee: employee %>
        <% end.empty? %>
          <span>Não foi encontrado nenhum servidor</span>
        <% end %>
    </div>
  </div>
<% end %>
