<div class="employees-list-container">
  <div class="row">
    <div class="col s12">
      <h4>Últimos servidores atualizados:</h4>
    </div>
  </div>

  <% if !@last_5_updated_employees.empty? %>
    <%= render '/components/employee_list', employees: @last_5_updated_employees %>
  <% else %>
    <div class="container">Não foi possível carregar os servidores</div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <a class="right" href=<%= employees_path %>>Mostrar todos</a>
    </div>
  </div>
</div>
