<div class="employees-list-container">
  <h4>Servidores:</h4>

  <% if !@employees.empty? %>
    <%= render '/components/employee_list', employees: @employees %>
  <% else %>
    <div class="container">Nenhum servidor cadastrado</div>
  <% end %>

</div>
