<div class="employees-list-container">
  <h4>Servidores:</h4>

  <div class="container">

    <% @employees.each do |employee| %>
      <%= render '/components/employee_card', employee: employee %>
    <% end %>

  </div>
</div>
