$primary-color: #0067a2 !default;
$secondary-color: #0067a2 !default;

@import "materialize";
@import "material_icons";

.collection a.collection-item {
  padding: 18px 24px;
  border-bottom: 4px solid #e0e0e0;
}

.logo-iprj {
  display: flex;
  justify-content: center;
  margin: 15px;
  max-height: 130px;

  img {
    max-width: 100%;
  }
}

.search-wrapper, .search-results, .employees-list-container, .employee-details-container {
  padding: 12px;
  margin: 15px 0;
  background-color: #E6E6E6;
}

.collection-item.employee-item {
  i {
    margin-right: 4px;
  }
}

.section h6 {
  font-weight: bold;
}
