<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Desenvolvido por</h5>
        <p class="grey-text text-lighten-4">Jhonatan Gomes Cavalcanti.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.iprj.uerj.br/">IPRJ</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.uerj.br/">UERJ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022 Copyright
    <a class="grey-text text-lighten-4 right" href="/admin">Admin</a>
    </div>
  </div>
</footer>
