<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper gray">
          <a href="javascript:;" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
          <a href="/" class="brand-logo center">Catálogo IPRJ</a>
          <ul id="nav-mobile" class="right">
            <li><a href="#search-modal" class="modal-trigger"><i class="material-icons">search</i></a></li>
          </ul>
      </div>
  </nav>
</div>
