<header>
  <div class="logo-iprj">
      <img src="http://www.iprj.uerj.br/images/logoIprj.png">
  </div>
  <nav>
      <div class="nav-wrapper gray">
          <a href="/" class="brand-logo center">Catálogo IPRJ</a>
      </div>
  </nav>
</header>
