<ul id="slide-out" class="sidenav">
  <div class="navbar-fixed valign-wrapper">
    <div class="sidenav-close sidenav-close-icon-wrapper">
      <i class="material-icons menu-open-icon">menu</i>
    </div>
  </div>

  <div class="divider"></div>

  <div class="dynamic-items-section">
    <li class="dynamic-items-section">
      <a href="/employees" class="">Servidores</a>
    </li>
  </div>

  <div class="divider"></div>

  <li class="dynamic-items-section">
    <a href="/about" class="">Sobre</a>
  </li>
</ul>
